header{
    background-color: blue;
    height: 100px;
}
header h1{
    margin: 0;
    text-align: center;
    font-size: 50;
    color: whitesmoke;
}
body{
    padding:0;
    margin:0;
    
}
.flex-container > div{
    flex-direction: row;
    display: flex;
    align-items: stretch;
    width: fit-content;
    font-size: 30px;
  }
body nav{
    background-color: yellow;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    width: 10em;
}
footer{
    background-color: grey;
    height: 100px;
}
footer h1{
    margin: 0;
    text-align: center;
    font-size: 50;
    color: honeydew;
}
.articleStyle{
    background-color: rgb(177, 175, 175);
    margin-right: 0;
    margin-left: 0;
    
    width: 90em;
}
.textMargin{
    margin-left: 33px;
}